[http "https://github.com"]
    proxy = socks5h://127.0.0.1:1080
[alias]
    tree = log --graph --all --relative-date --abbrev-commit --format=\"%x09 %h %Cgreen%cd%Creset [%Cblue%cn%Creset] %C(auto)%d%Creset %s\"
    l  = log --graph --oneline --decorate
    ld = log --graph --pretty=format:'%C(yellow)%h%C(bold black white)%d%Creset %s %C(bold green)%cr %Creset%C(white)%an' --abbrev-commit --date=relative
    ll = log --stat --decorate --source -p
    ls = log --graph --all --pretty=format:'%C(auto)%h%d %s %C(green)(%ar)%Creset %C(blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
    editor = nvim
[credential]
    helper = store
[color]
  ui = auto
[color "branch"]
  current   = bold white green
  local     = bold yellow
  remote    = bold magenta
  upstream  = bold cyan
[color "status"]
  added     = bold green
  updated   = bold white green
  changed   = bold yellow
  untracked = bold cyan
  nobranch  = bold red white
[color "diff"]
  meta = bold cyan
  frag = bold magenta
  old  = bold red
  new  = bold green
  whitespace = bold red white
